#alec{
  font-size:37px;
  letter-spacing:14px;
  font-weight:1000;
  margin-top:20px;
  display:block;
  margin:0;
}

#galloway{
  font-size: 27px;
  font-weight:300;
  letter-spacing:0.5px;
  display:block;
  margin-top:-10px
}

#top{
    background-image:url(img/guitar.jpg);
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height:25em;
}

.card-title{
  font-size: 23px;
  font-weight:700;
  letter-spacing:2.5px
}

.card-description{
font-size: 17px;
letter-spacing: 2;
font-weight: 500;
}

.card-date{
  font-size: 15px;
  font-weight:600;
  letter-spacing:2px
}

/* collapse to 2 cards, hide description

collapse to 1 card and padding to 0... remeber !important

hide date/description!!

 */











 /* * {box-sizing: border-box}
.mySlides1, .mySlides2 {display: none}

img {
    vertical-align: middle;
}

/* Slideshow container *
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  float:right;
  width:50%
}

/* Next & previous buttons *
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right *
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color *
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}