body{
    background-color:rgb(245, 245, 245);
    padding:0;
    margin:0;
}

#alec{
    font-size:37px;
    letter-spacing:14px;
    font-weight:1000;
    margin-top:20px;
    display:block;
    margin:0;
  }
  
#galloway{
    font-size: 27px;
    font-weight:300;
    letter-spacing:0.5px;
    display:block;
    margin-top:-10px
  }

.page-title{
    font-size: 50px;
    margin-top:35px;
    margin-bottom:60px;
    letter-spacing: 4px;
    font-weight:600;
    font-family:Special Elite;
  }

  .proj-txt{
    background-color:rgb(235, 235, 235);
    font-family: Special Elite;
    font-size:22px;
    padding:10px 20px;
    margin-bottom:50px;
    margin-top:50px;
    width:60%;
    text-align: center;
  }

.proj-img{
  display: flex;
  justify-content: center;
  align-items: center;
  width:40%;
}

.centered{
    text-align:center
}

footer{
    margin-top:60px;
    font-size:12px;
    background-color:rgba(238, 238, 238, 0.97);
    text-align: center;
    padding:12px 0 17px 0;
    font-weight:700;
    letter-spacing:3px;
}

@media screen and (max-width: 550px){
  .footer{
    font-size:5px;
  }
}

@media screen and (max-width: 840px){
  .proj-txt{
    width:90%
  }

  .proj-img{
    width:90%
  }
}

