@keyframes breath {
    from { 
        transform: scale(1);
      }
      to {
        transform: scale(1.05)
      }
  }     

#main{
    background-image:url(../img/52.jpg);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    animation: breath 17s ease-out alternate infinite;
}

.title{
    color:rgb(231, 203, 79);
    text-shadow: 2px 2px 3px #000000, 1px 1px 5px #000000;
    font-family:Cinzel Decorative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease all .5s;
}

#alecgalloway{
    font-size:5.5em;
    letter-spacing:2px;
    margin-top:-90px
}

#stainedglass{
    font-size:4em;
    letter-spacing:1px;
}

@media screen and (max-width: 840px){
    #alecgalloway{
        font-size:4.5em;
    }
    
    #stainedglass{
        font-size:3.5em;
    }
}

@media screen and (max-width: 700px){
    #alecgalloway{
        font-size:3.5em;
    }
    
    #stainedglass{
        font-size:2.5em;
    }
}

@media screen and (max-width: 565px){
    .title{
        display: flex;
        align-items: flex-start;
        justify-content: left;
    }
}



.image{
    padding:0 !important;
    margin:0 !important;
}

#images a{
    box-shadow: 0 10px 10px 0 rgba(0,0,0, 0.1),0 6px 20px 0 rgba(0.0.0, 0.1);
}

#images img:hover{
    box-shadow: 0 10px 10px 0 rgba(0,0,0, 0.856),0 6px 20px 0 rgba(0.0.0, 0.911) !important ;
}
