 #main{
    background-image:url(../img/52.jpg);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    animation: breath 17s ease-out alternate infinite;
}

#contact{
    background-color:rgb(0, 0, 0);
    height:20em
}

.title{
    color:rgb(231, 203, 79);
    text-shadow: 2px 2px 3px #000000, 1px 1px 5px #000000;
    font-family:Cinzel Decorative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease all .5s;
}

#alecgalloway{
    font-size:5.5em;
    letter-spacing:2px;
    margin-top:-90px
}

#stainedglass{
    font-size:4em;
    letter-spacing:1px;
}

.header-down-arrow {
    animation: pulse 2s 3s ease-out infinite;
    position: absolute;
      bottom: 4vh;
      left: 0;
      right: 0;
    text-align: center;
    z-index: 10;
    color:rgb(231, 203, 79);
  }

  .header-down-arrow img {
    animation: fade-slide-up 1s 1s ease-out forwards;
    opacity: 0;
  }






  .desktop-info{
        display: flex;
        justify-content: center;
        align-items: center;
  }

  .mobile-info{
      display:none;
  }

  #info {
    scroll-margin-top: 110px;
    padding:40px 0 40px 0;
  }

  #infoimg{
    position: absolute;
    width:450px;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
    z-index: 2;
    margin-left:175px;
    margin-top:-50px
  }

  #infotext{
    font-family: Special Elite;
    height: 400px;
    width:450px;
    padding:20px 25px 0 25px;
    position: absolute;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
    z-index: 3;
    border-radius:0;
    margin-top:50px;
    margin-left:-175px;
  }

  #portlink{
    color:rgb(231, 203, 79); 
    text-shadow:1px 1px 1px black;
  }

  #portlink:hover{
    color:rgb(185, 152, 3)
  }




  
.desktop-projects{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-projects{
    display:none;
}

#projects{
  background-color:rgb(235, 235, 235);
  padding:40px 0 40px 0;
}

#projectsimg{
  position: absolute;
  width:450px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
  z-index: 2;
  margin-left:-200px;
  margin-top:-40px
}

#projectstext{
  font-family: Special Elite;
  height: 400px;
  width:450px;
  padding:20px 25px 0 25px;
  position: absolute;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
  z-index: 3;
  border-radius:0;
  margin-top:30px;
  margin-left:200px;
}

#projlink{
  color:rgb(231, 203, 79); 
  text-shadow:1px 1px 1px black;
}

#projlink:hover{
  color:rgb(185, 152, 3)
}







  #contact-left{
    color:rgb(245, 245, 245);
    font-family: Special Elite;
    font-size:27px;
    line-height: 175%;
    float:left;
    height:100%;
    width:50%;
    display: flex;
  align-items: center;
  justify-content: flex-end;
  }

#contact-right{
  width:50%;
  height:100%;
  float:right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#contact-imgs{
  height:70%;
  width:50%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.contact-img{
  display:inline-block;
  margin:0 20px 0 20px;
}

  footer{
      margin-top:0px !important
  }

@media screen and (max-width: 840px){
    #alecgalloway{
        font-size:4.5em;
    }
    
    #stainedglass{
        font-size:3.5em;
    }

    .desktop-info{
        display:none;
    }

    .mobile-info{
        display: block;
    }

    .desktop-projects{
      display:none;
  }

  .mobile-projects{
      display: block;
  }

    #hero-padding {
        padding: 4rem 2rem !important;
    }

    #contact-left{
      width:100%;
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
    }

    #contact-right{
      display:none;
    }
}

@media screen and (max-width: 700px){
    #alecgalloway{
        font-size:3.5em;
    }
    
    #stainedglass{
        font-size:2.5em;
    }
}

@media screen and (max-width: 565px){
    .title{
        display: flex;
        align-items: flex-start;
        justify-content: left;
    }

    .header-down-arrow{
        display:none;
    }
}

@keyframes breath {
    from { 
        transform: scale(1);
      }
      to {
        transform: scale(1.05)
      }
  }    

@keyframes fade-slide-up {
    0% {
      opacity: 0;
      transform: translateY(4rem);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }

  @keyframes pulse {
    0% {
      opacity: 1;
      transform: none;
    }
    50% {
      opacity: .8;
      transform: scale(.8);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }
  
