#main{
    background-image:url(../img/52.jpg);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
}

.title{
    color:rgb(231, 203, 79);
    text-shadow: 3px 3px rgb(0, 0, 0);
    font-family:Cinzel Decorative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#alecgalloway{
    font-size:70px;
    letter-spacing:2px;
}

#stainedglass{
    font-size:40px;
    letter-spacing:1px;
}
.image{
    padding:0 !important;
    margin:0 !important;
}

#images a{
    box-shadow: 0 10px 10px 0 rgba(0,0,0, 0.1),0 6px 20px 0 rgba(0.0.0, 0.1);
}

#images img:hover{
    box-shadow: 0 10px 10px 0 rgba(0,0,0, 0.856),0 6px 20px 0 rgba(0.0.0, 0.911) !important ;
}
