#top{
  background-image:url(../img/portfolio.jpg);
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height:24em;
  margin-bottom:13px
}
  
  .filter-button{
      font-size: 25px;
      border: 2px solid rgba(27, 27, 27, 0.753);
      padding-top:5px;
      border-radius: 5px;
      text-align: center;
      margin-bottom: 30px;
      letter-spacing: 2px;
      font-family:Special Elite;
  }

  .filter-button:hover{
      font-size: 25px;
      border-radius: 5px;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.15);
      cursor: pointer
  }

  .btn-default:active .filter-button:active{
      background-color: #42B32F;
      color: white;
  }
  
  .port-image{
      width: 100%;
  }
  
  .gallery_product{
      margin-bottom: 30px;
      display:flex;
      flex-wrap:wrap;
  }

  .gallery_product img{
    border: 2px solid rgba(27, 27, 27, 0.753);
    border-radius: 4%;
  }

  .portfolio{
    display: flex;
    flex-wrap: wrap;
  }

  .column{
    margin:auto;
    padding:0 10px 0 10px;
  }




/*.along {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other *
  .down {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .down img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns *
  @media screen and (max-width: 800px) {
    .down {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other *
  @media screen and (max-width: 600px) {
    .down {
      flex: 100%;
      max-width: 100%;
    }
  }*/